.login-wrapper {
  grid-area: main;
  //grid-column: 2 / 4;
  grid-column: auto / span 2;
  background: rgba(#f7ebeb, .6);
  /*display: flex;
  flex-direction: column;
  align-items: center;*/

  span {
    font-size: 1.5rem;
  }
}