.header {
  grid-area: head;
  background: rgba(#626882, .8);
  font-size: 3.5rem;
  letter-spacing: 5px;
  color: #fbe5e7;
  p {
    padding: 0;
    margin: 0;
    margin-inline-start: 8rem;
    font-family: inherit;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: normal;
  }
}

@media screen and (max-width: 576px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2.5rem;
    letter-spacing: 0;
    p { margin-inline-start:1rem; }
  }
}