.footer {
  background: #101010;
  grid-area: foot;
  grid-column: span 3;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  .item {
    background: transparent;
    height: 12vh;
    width: fit-content;

    display: flex;
    flex-direction: column;
    flex-basis: 15rem;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
  }

}