.footer{
  //background: rgba(#dee0ed, .8);
  background: #101010;
  grid-area: foot;
  grid-column: 1 / -1;
  color: white;
  /*display: flex;
  justify-content: space-around;
  align-items: center;*/
  display: grid;
  align-items: center;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  .item {
    background: transparent;
    background: blue;
    height: 12vh;
    width: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
  }

}