.chat-wrapper{
  grid-area: main;
  grid-column: 2 / 4;
  background: #fff;
  padding: 1rem;
  margin: 0;

  #messages {
    background: lightyellow;
    border-radius: 4px;
    border: 1px solid grey;
    height: 50%;
    //overflow-y: scroll;
    li {
      font-family: Helvetica Neue;
      list-style: none;
    }
  }
}