.side {
  grid-area: side;
  grid-column: auto / span 1;
  background: rgba(#545871, .95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #ecf0f3;

  h1{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  ul{
    li{
      font-size: 1.5rem;
    }
  }
}